.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.text-area {
    min-width: 55%;
    height: 200px;
}

.keyboard {
    display: block;
    width: 680px;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}

.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    float: left;
}

.keyboard-key:hover {
    cursor: pointer;
}

.keyboard-key span:first-child {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 0.5rem;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}

.ctrl,
.delete,
.tab {
    width: 40px;
}

.capslock,
.enter,
.shift {
    width: 85px;
}

.space {
    width: 240px;
}

.backspace {
    width: 95px;
}

.active {
    background-color: blueviolet;
    transition: ease-in-out;
}